*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    background: #E5E5E5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
@mixin btn(){
    width: 80%;
    background: #8a319c;
    padding: 1rem 0.5rem;
    position: absolute;
    bottom: 2rem;
    right: 10%;
    display: grid;
    place-items: center;
    border-radius: .3rem;
    
    cursor: pointer;
    &:hover{
        background: #a854b8;

    }
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .8rem 0;
    position: sticky;
    top: 0;
    width: 100%;
    color: rgb(245, 245, 245);
    background: #35353570;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 20;
    >ul{
        display: flex;
        justify-content: space-evenly;
        width: 30%;
        li{
            text-transform: uppercase;
        }
    }
    >.login{
        width: 7rem;
        text-transform: uppercase;
        background: #7f33af;
        padding: .7rem 0rem;
        display: grid;
        place-items: center;
        border-radius: .3rem;
        cursor: pointer;
        &:hover{
            background: #a854b8;

        };
    }
}


.hero_container{
   background: #1e1e1e;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
   color: aliceblue;
   background: url("../src/assets/bg.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   top: 0;
   height: 100dvh;
   >.left_menu{
    width: 30%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    >.title{
        font-size: 2.8rem;
    }
    >.desc{

    }
    >.btn{
        width: 100%;
        background: #7f33af;
        padding: 1rem 0.5rem;
        display: grid;
        place-items: center;
        text-transform: uppercase;
        font-size: .8rem;
        letter-spacing: .1rem;
        cursor: pointer;

    }
   }
   >.right_img{
    background: no-repeat url("../src/assets/hero_main.jpg");
    background-position: center;
    background-size: cover;
    width: 27vw;
    height: 70vh;
    border-radius: .5rem;
    position: relative;
    >.btn{
        @include btn();
    }

   }
}

.carousel{
      
}

.second{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    background-image: url("../src/assets/hero_bg.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    >.upper_section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        >.left{
            width: 30vw;
            >.title{
                font-size: 2.4rem;
            }
            >.img{
                
            }
        }
        >.right_img{
            background: url("../src/assets/indiaGate.avif");
            border-radius: .4rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 30vw;
                height: 40vh;
        }
    }
    >.lower_section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;


        >.desc{
            background: #9231b9d4;
            padding: 2rem;
            width: 30%;
            border-radius: .5rem;
            color: aliceblue;
           

            >.btn{
                width: 100%;
                background-color: #3d3d3d;
                display: grid;
                place-items: center;
                gap: 1rem;
            }
        }

        >.left_img{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            >.upper{
                display: flex;
                justify-content: space-evenly;
                gap: 1rem;
                .u1,.u2{
                    border-radius: .4rem;
                    padding: 2rem;
                    color: rgb(116, 56, 184)    ;

                }
                .u1{
                    background-image: url("../src/assets/naturedd.avif");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    color: rgb(227, 227, 227);
                    cursor: pointer;

                }
                .u2{
                    background-image: url("../src/assets/naturedd2.jpeg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    color: rgb(206, 206, 206);
                    cursor: pointer;

                    justify-content: start;
                }
            }
            >.lower{

                background-image: url("../src/assets/naturedd2.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                color: rgb(119, 54, 193)    ;
                width: 100%;
                margin-top: .5rem;
                cursor: pointer;

                padding: 2rem;

                border-radius: .4rem;

                
                display: grid;
                place-items: start  ;

                

            }
        }
      
        
    }
}


.quote_continer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #E5E5E5;

    width: 100%;
    >.quote{
        font-size: 1.2rem;
        font-weight: 600;
    }
    >.desc{
        font-size: .9rem;
    }
    
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40vh;
    color: #f8f8f8;
    background-color: #070530;
    >.left{
        display: flex;
        flex-direction: column;
        >.img{
            background: url("../src/assets/naturedd2.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            width: 6rem;
            height: 6rem;
        }
    }
    .right{
       
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        gap: 1rem;
        
    }

}



.cards-app{
    background: #E5E5E5;

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.card_container{
    display: flex;
    justify-content: space-around;
    background: #dfdfdf;
    border-radius: .5rem;
    height: 7rem;
    width: 17rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    >.img{
        background: url("../src/assets/naturedd2.jpeg");
        background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        width: 6rem;
        height: 6rem;
        position: absolute;
        left: -1rem;
        top: -1rem;
        border-radius: 50%;
    }
    .data{
        .name{
            font-weight: 500;
            font-size: 1.2rem;
        }
        .comment{
            font-size: .9rem;
        }
    }
}